version: 2

updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `web` directory
    directory: "/web"
    # Check the npm registry for updates once a week
    schedule:
      interval: "weekly"
      day: "monday"
    target-branch: "main"

  # Enable version updates for golang
  - package-ecosystem: "gomod"
    # Look for `golang file` in the `server` directory
    directory: "/server"
    # Check for updates once a week
    schedule:
      interval: "weekly"
      day: "monday"
    target-branch: "main"

  # Enable version updates for Docker@web
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/web"
    # Check for updates once a week
    schedule:
      interval: "weekly"
      day: "monday"
    target-branch: "main"

  # Enable version updates for Docker@server
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/server"
    # Check for updates once a week
    schedule:
      interval: "weekly"
      day: "monday"
    target-branch: "main"

  # Enable version updates for Docker@deploy
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/deploy/docker"
    # Check for updates once a week
    schedule:
      interval: "weekly"
      day: "monday"
    target-branch: "main"